<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Backyard Gleaners</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BackyardGleanersClient.styles.css" asp-append-version="true" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />


</head>
<body style="padding-top:3rem;">
<header>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" aria-label="">
    <div class="container-xl">
      <a class="navbar-brand nav-link" asp-controller="Home" asp-action="Index">Backyard Gleaners</a>
			<button class="navbar-toggler first-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleMenu"
        aria-controls="navbarToggleExternalContent9" aria-expanded="false"
        aria-label="Toggle navigation">
        <div class="animated-icon1"><span></span><span></span><span></span></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleMenu" style="padding-left: 15px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="Home" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Gardeners" asp-action="Index">Gardeners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Gardeners" asp-action="Search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Gardeners" asp-action="Map">View Map</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Learn More</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link text-dark" asp-controller="Gardeners" asp-action="About">Who We Are</a></li>
              <li><a class="dropdown-item nav-link text-dark" asp-controller="Gardeners" asp-action="History">History</a></li>
              <li><a class="dropdown-item nav-link text-dark" asp-controller="Gardeners" asp-action="Contact">Contact Us</a></li>
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
</header>

	<div class="container">
		<main role="main" class="p-3">
			@RenderBody()
		</main>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

  @* navbar toggle animation experiment *@
	<script type="text/javascript">
	document.querySelector('.first-button').addEventListener('click', function () {
	document.querySelector('.animated-icon1').classList.toggle('open');
	});
	</script>
</body>
</html>
