@{
		ViewData["Title"] = "About";
}


<main class="container my-5 vstack gap-2">

	<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 shadow-lg">
		<div class="me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-start overflow-hidden ">
			<div class="p-1">
				<h2 class="display-6">Who We Are</h2>
				<p class="lead">this is where all the info goes about our app and.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 shadow-lg">
		<div class="me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-start overflow-hidden">
			<div class="py-1">
				<h2 class="display-6">Benefits of Gleaning</h2>
				<p class="lead">And an even wittier subheading.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 shadow-lg">
		<div class="me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-start overflow-hidden">
			<div class="py-1">
				<h2 class="display-6">Mission Statement</h2>
				<p class="lead">And an even wittier subheading.</p>
			</div>
		</div>
	</div>
</main>

	