@{
		ViewData["Title"] = "About";
}

<div class="container my-4">
	<div class="mb-4 bg-body-tertiary rounded-3 bg-light"> 
		<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
			<div class="my-3 p-1">
			<h1 class="display-6 fw-bold lh-1 text-body-emphasis">Who We Are</h1>
			<p class="fs-5">Local backyard gardeners with a food surplus connecting with community members to distribute food. Gleaning is simply harvesting extra crops from gardens, or farms, to provide to anyone in need. We hope to assist community members in learning about becoming a gardening host, a "Gleaner", and how to volunteer to assist with food surplus distribution within their city. Discover the benefits, history and facts about gleaning. Additionaly, we hope to provide the ability for you to create a gardeners profile, and contribute in any way you can.</p>
			</div>
		</div>
	</div>
	<div class="row align-items-md-stretch">
		<div class="col-md-6">
			<div class="h-100 p-5 rounded-3 bg-light">
				<h2>Benefits of Gleaning</h2>
				<p class="fs-5">Prevents the unnecessary wasting of quality food. Provides access to fresh, nutritious foods for people who are often unable to garden themselves. Provides resources to nonprofit agencies, many of whom have shrinking staff capacity and budgets due to the economic climate, so that they might better serve those in need. Builds good relationships between community members, local gardeners, and farmers.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h-100 p-5 rounded-3 bg-light">
				<h2>Mission Statement</h2>
				<p class="fs-5">Reduce Waste. Redistribute Food. Create Community.</p>
			</div>
		</div>
	</div>
</div>


