@{
		ViewData["Title"] = "About";
}

<div class="container my-3">
  <div class="container-fluid"></div>
  </div>
</div>
<div class="d-md-flex flex-md-equal w-100 ps-md-3 bg-light"> 
  <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-1">
			<h1 class="display-6 fw-bold lh-1 text-body-emphasis">Who We Are</h1>
			<p class="fs-5">We built this app for local backyard gardeners with food surplus to connect with community members to distribute foods: Gleaning is simply harvesting extra crops from gardens, or farms, to provide to anyone in need. We hope to assist community members in learning about becoming a gardening host, a Gleaner, and how to volunteer to assist with food surplus distribution within their city. Discover the benefits, history and facts about gleaning. Additionaly, we hope to provide the ability for you to create a gardeners profile, and contribute in any way you can.</p>
		</div>
	</div>
</div>

<div class="d-md-flex flex-md-equal w-100 ps-md-3 bg-light"> 
  <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-1">
			<h1 class="display-6 fw-bold lh-1 text-body-emphasis">Benefits of Gleaning</h1>
			<p class="fs-5">Prevents the unnecessary wasting of quality food. Provides access to fresh, nutritious foods for people who are often unable to garden themselves Provides resources to nonprofit agencies, many of whom have shrinking staff capacity and budgets due to the economic climate, so that they might better serve those in need. Builds good relations between community members, local gardeners, and farmers.
			</p>
		</div>
	</div>
	<div class="d-md-flex flex-md-equal w-100 ps-md-3 bg-light"> 
  <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-1">
			<h2 1 class="display-6 fw-bold lh-1 text-body-emphasis">Mission Statement</h1>
			<p class="fs-5">Coming soon...</p>
		</div>
		</div>
	</div>
</div>



