@{
		ViewData["Title"] = "About";
}

<main class="container my-5 vstack gap-4">
	<div class="col-3 d-md-flex flex-md-equal w-100 my-md-1 ps-md-1 shadow-lg">
		<div class="me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-start overflow-hidden ">
			<div class="p-1">
				<h2 class="display-6">Who We Are</h2>
				<p class="lead">We built this app for local backyard gardeners with food surplus to connect with community members to distribute foods: Gleaning is simply harvesting extra crops from gardens, or farms, to provide to anyone in need. We hope to assist community members in learning about becoming a gardening host, a Gleaner, and how to volunteer to assist with food surplus distribution within their city. Discover the benefits, history and facts about gleaning. Additionaly, we hope to provide the ability for you to create a gardeners profile, and contribute in any way you can.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-1 ps-md-1 shadow-lg">
		<div class="me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-start overflow-hidden">
			<div class="py-1">
				<h2 class="display-6">Benefits of Gleaning</h2>
				<p class="lead">And the Benefits of it!.And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the 
				</p>
				<p class="lead">Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!And the Benefits of it!
				</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-1 ps-md-1 shadow-lg">
		<div class="me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-start overflow-hidden">
			<div class="py-1">
				<h2 class="display-6">Mission Statement</h2>
				<p class="lead">And an even wittier subheading.</p>
			</div>
		</div>
	</div>
</main>

	