@{
    ViewData["Title"] = "History";
}

<div class="container my-3">
  <div class="container-fluid"></div>
  </div>
</div>
<div class="d-md-flex flex-md-equal w-100 ps-md-3 bg-light"> 
	<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-1">
		<h1 class="display-6 fw-bold lh-1 text-body-emphasis">History of Gleaning</h1>
		<p class="fs-5">What does “glean” mean anyway? Glean:(‘glēn) verb
		<p class="text-start fs-5">To gather or collect (something) in a gradual way, to search (something) carefully, to gather grain or other material that is left after the main crop has been gathered</p>
		<p class="text-start fs-5">Glean comes from Middle English glenen, which traces to Anglo-French glener, meaning "to glean." The French borrowed their word from Late Latin glennare, which also means "to glean" and is itself of Celtic origin. Both the grain-gathering sense and the collecting-bit-by-bit senses of English's glean date back at least to the 14th century.
		<br />
		Historically,it is the act of collecting leftover crops from farmers' fields after they have been commercially harvested or on fields where it is not economically profitable to harvest. It is a practice described in the Hebrew Bible that became a legally enforced entitlement of the poor in a number of Christian kingdoms.[1][2] Modern day "dumpster diving", when done for food or culinary ingredients, is seen as a similar form of food recovery.[3] Gleaning is also still used to provide nutritious harvested foods for those in need. It is modernly used due to a need for a national network to aid food recovery organizations in the United States. 
		</p>
		<p class="text-start fs-5">Gleaning events occur wherever food is in excess. In addition to supermarkets, gleaning can also occur at farms in the field. Volunteers, called gleaners, visit a farm where the farmer donates what is left in their fields to collect and donate to a food bank. In New York State in 2010, this form of gleaning alone rescued 3.6 million pounds of fruits and vegetables.
		</p>
		<p class="text-center fs-5"><em>This is by no means a complete history of Gleaning.</em> </p>
		</div>
	</div>
</div>
