@{
    ViewData["Title"] = "Gardeners";
}

@using BackyardGleanersClient.Models;

<div class="container">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
    @foreach (Gardener gardener in Model)
    {
    <div class="col">
      <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg">
        <img src=@gardener.ProfilePic class="" alt="gardener">
        <div class="card-body">
          <h5 class="card-title"> <strong>@gardener.Name</strong></h5>
          <a href="/Gardeners/Details/@(gardener.GardenerId)" class="btn btn-primary btn-sm">View Gardener</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>

