@{
    ViewData["Title"] = "Gardeners";
}

@using BackyardGleanersClient.Models;

<div class="row row-cols-1 row-cols-md-3 g-4">
  @foreach (Gardener gardener in Model)
  {
  <div class="col">
    <div class="card h-100">
      <img src=@gardener.ProfilePic class="card-img-top" alt="gardener">
      <div class="card-body">
        <h5 class="card-title"> <strong>@gardener.Name</strong></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer">
          <small class="text-body-secondary"><a href="/Gardener/Details/@(gardener.GardenerId)">View Gardener</a></small>
        </div>
      </div>
    </div>
  </div>
  }
</div>

