    <!-- @foreach (Gardener gardener in Model)
    {
    <div class="col">
      <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg">
        <img src=@gardener.ProfilePic class="" alt="gardener">
        <div class="card-body">
          <h5 class="card-title"> <strong>@gardener.Name</strong></h5>
          <a href="/Gardeners/Details/@(gardener.GardenerId)" class="btn btn-primary btn-sm">View Gardener</a>
        </div>
      </div>
    </div>
    } -->

    <!-- appsettings.json in api
      
      "Server=backyard-gleaners-mysql.mysql.database.azure.com;Database=backyard_gleaners;Port=3306;User Id=eusebieDev;Password=G1xt-5wA0-rdh*;SSL Mode=Required" -->

    <!-- render:

    {
      "ConnectionStrings": {
        "AZURE_SQL_CONNECTION": "Server=backyard-gleaners-mysql.mysql.database.azure.com;Database=backyard_gleaners;Port=3306;User Id=eusebieDev;Password=G1xt-5wA0-rdh*;SSL Mode=Required"
    }
    } -->