@{  
	ViewData["Title"] = "Results";
}

@model List<BackyardGleanersClient.Models.Gardener>

	<div class="container">
		<div class="mb-4 bg-body-tertiary rounded-3 bg-light"> 
			<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-1">
				<h1 class="display-6 fw-bold lh-1 text-body-emphasis">API in Development! Stay tuned :)</h1>
				
				</div>
			</div>
		<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
	
		</div>
	</div>

	<!-- @if (Model != null && Model.Count > 0)
	{
		@foreach (var gardener in Model)
		{
		<main class="container my-3">
		<div class="d-flex flex-column flex-md-row p-3 py-md-2 align-items-center justify-content-center">
			<div class="list-group list-group d-grid gap-2 border-0 shadow-lg">
				<label class="list-group-item rounded-3 py-3">
				<strong>Name:</strong> @gardener.Name<br />
				<strong>Description:</strong> @gardener.Description<br />
				<strong>Food:</strong> @gardener.Food<br />
				<strong>Location:</strong> @gardener.Location<br />
				<p><a href="/Gardeners/Details/@(gardener.GardenerId)" class="btn btn-primary btn-sm results-button">View Gardener</a></p>
				</label>
			</div>
		</div>
		</main>
		}
	}
	else
	{
		<p>No gardeners found based on the search query.</p>
	} -->
