@{  
	ViewData["Title"] = "Results";
}

@model List<BackyardGleanersClient.Models.Gardener>

	@if (Model != null && Model.Count > 0)
	{
		@foreach (var gardener in Model)
		{
		<div class="d-flex flex-column flex-md-row p-5 py-md-2 align-items-center justify-content-center">
			<div class="list-group list-group d-grid gap-2 border-0 shadow-lg">
				<label class="list-group-item rounded-3 py-3">
				<strong>Name:</strong> @gardener.Name<br />
				<strong>Description:</strong> @gardener.Description<br />
				<strong>Food:</strong> @gardener.Food<br />
				<strong>Location:</strong> @gardener.Location<br />
				<p><a href="/Gardeners/Details/@(gardener.GardenerId)" class="btn btn-primary btn-sm results-button">View Gardener</a></p>
				</label>
			</div>
		</div>
		}
	}
	else
	{
		<p>No gardeners found based on the search query.</p>
	}




