@{
  ViewData["Title"] = "";
}
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&display=swap" rel="stylesheet">

<body id="splash-main">
  <div class="container my-5">
    <div class="row bg-light rounded shadow-lg"> 
      <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center">
        <div class="my-3 p-1">
          <h2 class="display-4 fw-bold text-dark splash-header">Welcome to the <br/>Portland Backyard Gleaners Resource</h2>
          <p class="fs-4 splash-header"><em>Promoting waste not want not!</em></p>
        </div>
        <div class="row g-1">
          <div class="col-md-6">
          <a class="icon-link" asp-controller="Gardeners" asp-action="History">
            Discover more about the history of gleaning!
          <svg class="bi"><use xlink:href="#chevron-right"/></svg></a>
          </div>
          <div class="col-md-6">
          <p class="fs-6">Click on the Share Your Garden button to create a profile and contribute to food sharing!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

@* chevron practice for arrow! *@

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="10"/>
    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
  </symbol>
  <symbol id="cart" viewBox="0 0 16 16">
    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </symbol>
</svg>

