@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the Portland Backyard Gleaners Resource</h1>
  <p>Feel free to check out <a href="/gardeners">the gardeners who have graciously signed up to contribute!</a> and enjoy your stay!</p>
</div>